
/**
 * COLORS
**/
$color-purple: #9D3FE7;
$color-black: #1A141F;
$color-hint-text: #4B3A5A;
$color-border: #ABA7AF;
$color-disabled: #D4D2D5;
$color-spacer: #D9D1E0;
$color-spacer-light: #E5E0EB;
$color-light-gray: #F5F3F7;
$color-white: #FFFFFF;
$color-errore: #D51A52;
$color-attention: #FF9500;
$color-approval: #00B998;
$color-link: #0F0BAB;

/**
 * TYPOGRAPHY
**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-default: 'Poppins', sans-serif;
