
/**
  * COLORS
 **/
$color-purple: #9D3FE7;
$color-black: #1A141F;
$color-hint-text: #4B3A5A;
$color-border: #ABA7AF;
$color-disabled: #D4D2D5;
$color-spacer: #D9D1E0;
$color-spacer-light: #E5E0EB;
$color-light-gray: #F5F3F7;
$color-white: #FFFFFF;
$color-errore: #D51A52;
$color-attention: #FF9500;
$color-approval: #00B998;
$color-link: #0F0BAB;

